﻿@using Fr.EQL.AI110.DLD_GC.Entities
@model List<Don>

   <a asp-controller="don" 
   asp-action="create">
   <button>Créer un Don</button>
</a>

@foreach (Don don in Model)
{

    <h1>Don Id : @don.Id</h1>
    <h2>Quantité : @don.Qty</h2>
    <h3>Dlc : @don.Dlc</h3>
    <h3>Date de Création : @don.CreateDate</h3>
    <h3>Id du Produit : @don.ProduitId</h3>
    <h3>Id du Donateur : @don.DonorId</h3>
    <h3>Qunatité : @don.UniteId</h3>
    <h3>Conservation : @don.ConservationId</h3>
    <h3>Localisation : @don.LocalisationId</h3>
    <h3>Date de réservation : @don.ReserveDate</h3>
    <h3>Id du bénificiare : @don.BeneficiaryId</h3>



    <img src="~/images/dons/@don.Picture" alt="@don.Picture"/>
        <br />
  <a asp-controller="Don" 
  asp-action="MakeAReservationDon"
  asp-route-id="@don.Id">Reserver Don</a>
    <br />
   <a asp-controller="Don" 
  asp-action="CancelDon"
  asp-route-id="@don.Id">Annuler Don</a>
    <br />
     <a asp-controller="Don" 
  asp-action="Update"
  asp-route-id="@don.Id">Modifier</a>
  <br />


 <br />
    <input type="submit" value="Retour"/>
}


