﻿@using Fr.EQL.AI110.DLD_GC.Entities
@model DonDetails

<h1>Mettre à jour votre Don</h1> 


<form method ="post">

    @*Choisir Catégorie : <input asp-for=""/>*@
    UNITE ID    : <input asp-for="UniteId"/>
    Conservation : <input asp-for="ConservationId"/>
    Donateur id: <input asp-for="DonorId"  type="hidden"/>
    Produit id : <input asp-for="ProduitId" type="hidden"/>
    Nom du Don : <input asp-for="ProduitName"/>
    Quantite du Don : <input asp-for="Qty"/>
    Date limite de consommation : <input asp-for="Dlc"/>
    Date de durabilité minimale : <input asp-for="Ddm"/>
    Photo du Don : <input asp-for="Picture"/>
	Date de création : <input asp-for="CreateDate" type="hidden"/>
	Date de réservation : <input asp-for="ReserveDate" type="hidden"/>
	Date d'annulation : <input asp-for="CancelDate" type="hidden"/>
	AltStreetNb : <input asp-for="AltStreetNb"/>
	altStreetName : <input asp-for="AltStreetName"/>
	altCompAdr : <input asp-for="AltCompAdr" />
	availableCollect : <input asp-for="AvailableCollect" type="hidden"/>
	Receive : <input asp-for="Receive" type="hidden"/>
	NoReceive : <input asp-for="NoReceive" type="hidden"/>
	NoHandover : <input asp-for="NoHandover" type="hidden"/>
	Handover : <input asp-for="Handover" type="hidden"/>
	FinalDate: <input asp-for="FinalDate" type="hidden"/>
	BeneficiaryId : <input asp-for="BeneficiaryId" type="hidden"/>
	StockageId : <input asp-for="StockageId"/>
	LocalisationId : <input asp-for="LocalisationId"/>
    Horaires de Don : <input asp-for="HorairesDon"/>
    Horaires de relais : <input asp-for="HorairesRelais" type="hidden"/>
    

    <input type="submit" value="Enregistrer"/>


</form>